.title {
	text-align: center;
	font-size: xx-large;
	margin-bottom: -2mm;
}

.small {
	font-size: x-small;
	margin-bottom: -5mm;
}

.ib {
	width: 88;
	height: 31;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-child {
    flex: -1;
}  

.flex-child:first-child {
    margin-right: 5px;
} 

.card{
	position:relative;
	background-color:white; 
	width:290px; 
	height:417px;
}

.cardTitle{
	text-align:center; 
	color:black; 
	padding:20px;
}

.cardSub{
	color:black; 
	margin-top:-30px; 
	margin-bottom:5px; 
	margin-left:10px;
	margin-right:10px;
	text-align:center;
}

.cardA{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:290px;
	height:417px;
	z-index:5;
}


h1,h2,h3 {
	color: white;
}

p,li,ul {
	color: white;
	font-size: 100%;
	margin-bottom: 3mm;

}

details{
	margin-top: 0mm;
	color: white;
}

summary {
	font-size: 110%;
	font-weight: bold;
	margin-top: 10mm;
	color: white;
}

body {
	background-color: black;
}

iframe{
	border: none;
	overflow-y: hidden;
}

a {
	color: violet;
}
.line2 {
  margin:5px 0;
  height:2px;
  background:
    repeating-linear-gradient(90deg,purple 0 10px,#0000 0 12px)
}

@media screen and (orientation:landscape) {
	/*body {
		margin-left: 5cm;
		margin-right: 5cm;
	}*/

	.size{
		width: 65vw;
		height: 55vh;
	}
}
@media screen and (orientation:portrait) {
	/*body {
		margin-left: 0cm;
		margin-right: 0cm;
	}*/
	.size{
		width: 70vw;
		height: 62vh;
	}
}

#rcorners1 {
  border-radius: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
	color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: grey;
}*/
