.title {
	text-align: center;
	font-size: xx-large;
	margin-bottom: -3mm;
}

h1 {
	color: white;
}

p,li {
	color: white;
	font-size: 100%;
	margin-bottom: 3mm;

}

body {
	background-color: black;
}

a {
	color: violet;
}
.line2 {
  margin:5px 0;
  height:2px;
  background:
    repeating-linear-gradient(90deg,purple 0 10px,#0000 0 12px)
}
@media screen and (orientation:landscape) {
	body {
		margin-left: 5cm;
		margin-right: 5cm;
	}
}
@media screen and (orientation:portrait) {
	body {
		margin-left: 0cm;
		margin-right: 0cm;
	}
}

