.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: white;
}

body{
	background-color: black;
}

#rcorners1 {
  border-radius: 15px 50px;
  padding: 5px; 
  height: 125px;  
}


